<div class="mainsecttion p-5  bg-gray-300">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">LineUp<span class="text-lg absolute ">(2)</span>
    </h1>
    <div class="cards flex mb-3">
        <a href="#"
            class="flex mt-5 mr-4 w-96 border-l-pink-400 border-l-8 flex-col items-center bg-white border border-gray-200 rounded-xl shadow-lg md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between w-full p-4 leading-normal">
                <div class="part1  border-b border-b-gray-300 w-full">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dribble: Banking
                        app shot</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Showcase the key features and visual aesthetics of banking app.
                    </p>
                </div>
                <div class="part2 mt-2 flex justify-between">
                    <img class="w-10 h-10 rounded-full" src="../../../../../assets/img/person1.png"
                        alt="Rounded avatar">
                    <div class="icons flex">
                        <fa-icon class="text-gray-400" [icon]="faEye"></fa-icon><span class="text-gray-400 mr-2">
                            9</span>
                        <svg class="w-6 h-6 text-gray-400 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 10.5h0m-4 0h0m-4 0h0M5 5h14c.6 0 1 .4 1 1v9c0 .6-.4 1-1 1h-6.6a1 1 0 0 0-.7.3L8.8 19c-.3.3-.8 0-.8-.4V17c0-.6-.4-1-1-1H5a1 1 0 0 1-1-1V6c0-.6.4-1 1-1Z" />
                        </svg>
                        <span class="text-gray-400 mr-2">4</span>
                        <fa-icon class="text-gray-400" [icon]="faPaperClip"></fa-icon><span class="text-gray-400">
                            2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#"
            class="flex mt-5 mr-4 w-96 border-l-green-400 border-l-8 flex-col items-center bg-white border border-gray-200 rounded-xl shadow-lg md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between w-full p-4 leading-normal">
                <div class="part1  border-b border-b-gray-300 w-full">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Geological company
                        website</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Create a corporate website design for a geological company from Norway.
                    </p>
                </div>
                <div class="part2 mt-2 flex justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person4.png" alt="">
                    </div>
                    <div class="icons flex">
                        <fa-icon class="text-gray-400" [icon]="faEye"></fa-icon><span class="text-gray-400 mr-2">
                            10</span>
                        <svg class="w-6 h-6 text-gray-400 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 10.5h0m-4 0h0m-4 0h0M5 5h14c.6 0 1 .4 1 1v9c0 .6-.4 1-1 1h-6.6a1 1 0 0 0-.7.3L8.8 19c-.3.3-.8 0-.8-.4V17c0-.6-.4-1-1-1H5a1 1 0 0 1-1-1V6c0-.6.4-1 1-1Z" />
                        </svg>
                        <span class="text-gray-400 mr-2">8</span>
                        <fa-icon class="text-gray-400" [icon]="faPaperClip"></fa-icon><span class="text-gray-400">
                            2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#"
            class="flex mt-5 justify-center  w-96 border-dotted border-4 border-blue-300 flex-col items-center bg-white  rounded-xl  md:flex-row md:max-w-xl hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between rounded-full p-2 text-center leading-normal">
                <button type="button" class="text-white bg-transparent ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 24 24">
                        <path
                            d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 11 L 7 11 L 7 13 L 11 13 L 11 17 L 13 17 L 13 13 L 17 13 L 17 11 L 13 11 L 13 7 L 11 7 z">
                        </path>
                    </svg>
                </button>
                <p class="">Add Task</p>
            </div>
        </a>
    </div>

    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">Trending<span class="text-lg absolute ">(3)</span>
    </h1>
    <div class="cards flex mb-3">
        <a href="#"
            class="flex mt-5 mr-4 w-96 border-l-green-400 border-l-8 flex-col items-center bg-white border border-gray-200 rounded-xl shadow-lg md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between w-full p-4 leading-normal">
                <div class="part1  border-b border-b-gray-300 w-full">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Customer Journey
                        Mapping</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Build a user flow and Costumer Journey Mapping for a online cosmetics store.
                    </p>
                </div>
                <div class="part2 mt-2 flex justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                    </div>
                    <div class="icons flex">
                        <fa-icon class="text-gray-400" [icon]="faEye"></fa-icon><span class="text-gray-400 mr-2">
                            10</span>
                        <svg class="w-6 h-6 text-gray-400 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 10.5h0m-4 0h0m-4 0h0M5 5h14c.6 0 1 .4 1 1v9c0 .6-.4 1-1 1h-6.6a1 1 0 0 0-.7.3L8.8 19c-.3.3-.8 0-.8-.4V17c0-.6-.4-1-1-1H5a1 1 0 0 1-1-1V6c0-.6.4-1 1-1Z" />
                        </svg>
                        <span class="text-gray-400 mr-2">11</span>
                        <fa-icon class="text-gray-400" [icon]="faPaperClip"></fa-icon><span class="text-gray-400">
                            2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#"
            class="flex mt-5 mr-4 w-96 border-l-blue-400 border-l-8 flex-col items-center bg-white border border-gray-200 rounded-xl shadow-lg md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between w-full p-4 leading-normal">
                <div class="part1  border-b border-b-gray-300 w-full">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Behance: AI chat
                        app case</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Make a case for a portfolio on Behance project - mobile application
                    </p>
                </div>
                <div class="part2 mt-2 flex justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                    </div>
                    <div class="icons flex">
                        <fa-icon class="text-gray-400" [icon]="faEye"></fa-icon><span class="text-gray-400 mr-2">
                            10</span>
                        <svg class="w-6 h-6 text-gray-400 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 10.5h0m-4 0h0m-4 0h0M5 5h14c.6 0 1 .4 1 1v9c0 .6-.4 1-1 1h-6.6a1 1 0 0 0-.7.3L8.8 19c-.3.3-.8 0-.8-.4V17c0-.6-.4-1-1-1H5a1 1 0 0 1-1-1V6c0-.6.4-1 1-1Z" />
                        </svg>
                        <span class="text-gray-400 mr-2">6</span>
                        <fa-icon class="text-gray-400" [icon]="faPaperClip"></fa-icon><span class="text-gray-400">
                            2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#"
            class="flex mt-5 mr-4 w-96 border-l-gray-800 border-l-8 flex-col items-center bg-white border border-gray-200 rounded-xl shadow-lg md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col justify-between w-full p-4 leading-normal">
                <div class="part1  border-b border-b-gray-300 w-full">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Logotype Design
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Create a logotype for a new startup company in the field of digital marketing.
                    </p>
                </div>
                <div class="part2 mt-2 flex justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person4.png" alt="">
                    </div>
                    <div class="icons flex">
                        <fa-icon class="text-gray-400" [icon]="faEye"></fa-icon><span class="text-gray-400 mr-2">
                            10</span>
                        <svg class="w-6 h-6 text-gray-400 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 10.5h0m-4 0h0m-4 0h0M5 5h14c.6 0 1 .4 1 1v9c0 .6-.4 1-1 1h-6.6a1 1 0 0 0-.7.3L8.8 19c-.3.3-.8 0-.8-.4V17c0-.6-.4-1-1-1H5a1 1 0 0 1-1-1V6c0-.6.4-1 1-1Z" />
                        </svg>
                        <span class="text-gray-400 mr-2">8</span>
                        <fa-icon class="text-gray-400" [icon]="faPaperClip"></fa-icon><span class="text-gray-400">
                            2</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="header flex justify-between">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">My Work<span
                class="text-lg absolute ">(3)</span>

        </h1>
        <div class="buttons flex bg-gray-100 rounded-lg shadow p-2 items-center">
            <button type="button"
                class="hover:bg-gray-800 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <svg class="w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10" />
                </svg>
            </button>
            <button type="button"
                class="bg-transparent hover:bg-gray-800 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <svg class="w-6 h-6  dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9.1 4H5c-.5 0-.9.4-.9.9V9c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9V5c0-.5-.4-.9-.9-.9Zm10 0H15c-.5 0-.9.4-.9.9V9c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9V5c0-.5-.4-.9-.9-.9Zm-10 10H5c-.5 0-.9.4-.9.9V19c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9v-4c0-.5-.4-.9-.9-.9Zm10 0H15c-.5 0-.9.4-.9.9V19c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9v-4c0-.5-.4-.9-.9-.9Z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="filters flex">
        <button type="button"
            class="inline-flex items-center p-2 text-sm font-medium text-center text-white bg-blue-700 rounded-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            To do
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-2 p-3 text-xs font-semibold text-blue-800 bg-white rounded-full">
                2
            </span>
        </button>
        <button type="button"
            class="inline-flex ml-2 items-center p-2 text-sm font-medium text-center text-bold text-black hover:text-white bg-transparent rounded-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Comments
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-2 p-3 text-xs font-semibold text-blue-800 bg-gray-200 rounded-full">
                2
            </span>
        </button>
        <button type="button"
            class="inline-flex ml-2 items-center p-2 text-sm font-medium text-center text-bold text-black hover:text-white bg-transparent rounded-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Done
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-2 p-3 text-xs font-semibold text-blue-800 bg-gray-200 rounded-full">
                15
            </span>
        </button>
        <button type="button"
            class="inline-flex ml-2 items-center p-2 text-sm font-medium text-center text-bold text-black hover:text-white bg-transparent rounded-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Delegate
            <span
                class="inline-flex items-center justify-center w-4 h-4 ms-2 p-3 text-xs font-semibold text-blue-800 bg-gray-200 rounded-full">
                4
            </span>
        </button>
    </div>
    <div class="cards flex flex-col">
        <a href="#"
            class="flex mt-5 mr-4 w-full border-l-pink-500 border-l-8 items-center bg-white border border-gray-200 rounded-xl shadow-lg hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex justify-between w-full p-4 leading-normal">
                <div class="part1">
                    <h5 class="mb-2 text-lg tracking-tight text-gray-400 dark:text-white">Publications/Shots/Dribble
                    </h5>
                    <p class="mb-3 text-2xl font-bold text-gray-700 dark:text-gray-400">
                        Dribbble: Banking app shot
                    </p>
                </div>
                <div class="middleSection flex items-center justify-center">
                    <fa-icon class="text-gray-800 text-3xl" [icon]="faList"></fa-icon>
                    <p class="text-gray-800 ml-3">3/10</p>
                </div>
                <div class="part2 flex items-center  justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person4.png" alt="">
                    </div>
                </div>
                <div class="fecha  flex items-center justify-center">
                    <p class="text-black">July, 22</p>
                </div>
                <div class="icons flex items-center justify-center">
                    <fa-icon class="text-gray-400 text-3xl" [icon]="faEllipsis"></fa-icon><span
                        class="text-gray-400 mr-2"></span>
                </div>
            </div>
        </a>
        <a href="#"
            class="flex mt-5 mr-4 w-full border-l-blue-500 border-l-8 items-center bg-white border border-gray-200 rounded-xl shadow-lg hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex justify-between w-full p-4 leading-normal">
                <div class="part1">
                    <h5 class="mb-2 text-lg tracking-tight text-gray-400 dark:text-white">Publications/Shots/Behance
                    </h5>
                    <p class="mb-3 text-2xl font-bold text-gray-700 dark:text-gray-400">
                        Behance: Mobile delivery app
                    </p>
                </div>
                <div class="middleSection flex items-center">
                    <fa-icon class="text-gray-800 text-3xl" [icon]="faList"></fa-icon>
                    <p class="text-gray-800 ml-3">1/8</p>
                </div>
                <div class="part2 items-center flex justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                    </div>
                </div>
                <div class="fecha  flex items-center justify-center">
                    <p class="text-black">July, 24</p>
                </div>
                <div class="icons flex items-center justify-center">
                    <fa-icon class="text-gray-400 text-3xl" [icon]="faEllipsis"></fa-icon><span
                        class="text-gray-400 mr-2"></span>
                </div>
            </div>
        </a>
        <a href="#"
            class="flex mt-5 mr-4 w-full border-l-orange-500 border-l-8 items-center bg-white border border-gray-200 rounded-xl shadow-lg hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex justify-between w-full p-4 leading-normal">
                <div class="part1">
                    <h5 class="mb-2 text-lg tracking-tight text-gray-400 dark:text-white">Internal/Event/Design
                    </h5>
                    <p class="mb-3 text-2xl font-bold text-gray-700 dark:text-gray-400">
                        Event: User research methods
                    </p>
                </div>
                <div class="middleSection flex items-center justify-center">
                    <fa-icon class="text-gray-800 text-3xl" [icon]="faList"></fa-icon>
                    <p class="text-gray-800 ml-3">2/14</p>
                </div>
                <div class="part2 items-center flex justify-between">
                    <div class="flex -space-x-4 rtl:space-x-reverse mr-2">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person2.png" alt="">
                        <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                            src="../../../../../assets/img/person3.png" alt="">
                        <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-blue-700 bg-blue-200 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
                            href="#">+3</a>

                    </div>
                </div>
                <div class="fecha  flex items-center justify-center">
                    <p class="text-black">July, 26</p>
                </div>
                <div class="icons flex items-center justify-center">
                    <fa-icon class="text-gray-400 text-3xl" [icon]="faEllipsis"></fa-icon><span
                        class="text-gray-400 mr-2"></span>
                </div>
            </div>
        </a>
    </div>
</div>